.text {
  color: white;
}

.container {
  display: flex;
}

.left-half {
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
  padding-top: 150px;
}

.left-half button {
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px 10px 5px 20px;
  padding: 5px 10px;
  color: white;
  border: none;
  font-weight: bold;
  outline: none;
}

.right-half {
  flex-grow: 2;
  padding: 1rem;
  text-align: center;
  padding-top: 150px;
}


.script-editor {

}

.script-response {

}
