@keyframes ldio {
  0% { opacity: 1 }
  50% { opacity: .5 }
  100% { opacity: 1 }
}

.ldio div {
  position: absolute;
  width: 20px;
  height: 80px;
  top: 60px;
  animation: ldio 1s cubic-bezier(0.5,0,0.5,1) infinite;
}

.ldio div:nth-child(1) {
  transform: translate(30px,0);
  background: #9bf09b;/* #e15b64; */
  animation-delay: -0.6s;
}

.ldio div:nth-child(2) {
  transform: translate(70px,0);
  background: #a6f1a6;/* #f47e60; */
  animation-delay: -0.4s;
}

.ldio div:nth-child(3) {
  transform: translate(110px,0);
  background: #b1f3b1;/* #f8b26a; */
  animation-delay: -0.2s;
}

.ldio div:nth-child(4) {
  transform: translate(150px,0);
  background: #bcf5bc;/* #abbd81; */
  animation-delay: -1s;
}

.loadingio-spinner-bars {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background-color: inherit;
}

.ldio {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio div {
  box-sizing: content-box;
}
