/* input {
  display: inline-block;
}

input.search {
  padding: 10px 20px;
  border: 1px solid #515151;
  border-radius: 5px;
  background: #3a3a3a;
  color: #999;
  display: inline-block;
} */

.react-autosuggest__input {
  padding: 10px 20px;
  border: 1px solid #515151;
  border-radius: 5px;
  background: #1a1e24;
  color: white;
  display: inline-block;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}

.react-autosuggest__container {
  display: inline-block;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  background: white;
}


.react-autosuggest__suggestions-container--open {
  color: black !important; /*idk what this does tbh*/
  width: 240px;
}

.react-autosuggest__suggestions-list {
  flex-direction: column !important;
  color: black !important; /*nor this*/
  /* position: absolute; */
  max-height: 500px;
  overflow-y: auto;
}

.react-autosuggest__suggestion {
  background-color: #1a1e24;
  cursor: pointer;
  border-bottom: 1px solid gray;
  /*make this */
}

.react-autosuggest__suggestion:last-child {
  border-bottom: none;
  /*make this */
}

/* input:focus {
  outline: none;
} */
/* 
.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
}
.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}     */

/* span.population {
  font-size: 15px;
} */

/* .hl {
  background: #ffc600;
} */

/* #search-icon {
  position: relative;
  z-index: 1;
  left: -25px;
  top: 1px;
  color: #7B7B7B;
  cursor: pointer;
  width: 0;
} */

#stk-button {
  display: inline-block;
  padding: 10px 12px;
  border-radius: 3px;
  border-color: none;
  border: none;
  outline: none;
}

#stk-button:focus {
  outline: none;
}

#stk-button:hover {
  cursor: pointer;
}

#opt-button {
  display: inline-block;
  padding: 10px 12px;
  border-radius: 3px;
  border-color: none;
  border: none;
  outline: none;
}

#opt-button:focus {
  outline: none;
}

#opt-button:hover {
  cursor: pointer;
}