h1, h2, h3, h4, h5 {
  color: white;
  display: inline;
}

h4 {
  padding-left: 3px;
}

h2, h5 {
  padding-left: 5px;
}

.quote-list ul {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  color: white;
  margin: 0;
}

.quote-list ul li {
  margin: 0 0 10px 75px;
}

i {
  padding-left: 3px;
  height: 22px;
  vertical-align: middle;
}

.margin-top {
  margin-top: 50px;
}

.title {
  margin-top: 30px;
  margin-left: 30px;
}

.market-price {
  font-size: 50px;
}

.title button {
  color: white;
  border: none;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 10px;
  outline: none;
  font-weight: bold;
}

#chart-time {
  float: left;
  padding: 8px 24px;
  margin-left: 460px;
}

#chart-time button {
  color: white;
/*   border: none; */
  border-style: solid;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 10px;
  outline: none;
  /* font-weight: bold; */
  background-color: #3DB4F2;
}

/* #chart-time ul {
  padding-left: 400px;
  column-count: 24;

}

#chart-time ul li {

}

#chart-time ul li button {
  display: inline-block;
  border: none;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  font-weight: bold;

} */

.side-drawer {
  height: 100%;
  background:black;
  color: white;
  position: fixed;
  top: 70px;
  right: 0;
  width: 20%;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer button {
  color: white;
  border: none;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 10px;
  outline: none;
  font-weight: bold;
}

.react-stockchart {
  width: 100% !important;
}

.margin-top {
  min-width: 0;
}